# The grub2 bios bootloader does work in KVM to boot Xen.
# Unfortunately, the SuperMicro bios will not legacy boot a usb drive
# on a gpt partition.  Because of that, set the default to boot linux.
set default="1"

function load_video {
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
insmod chain

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l '@ISOLABEL@'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Start @PRODUCT@ @VERSION@ with Xen hypervisor' --class fedora --class gnu-linux --class gnu --class os --class xen {
	insmod multiboot2
	echo    'Loading Xen ...'
	multiboot2 @XENPATH@ XEN_OPTS
	echo    'Loading Linux ...'
	module2  @KERNELPATH@ @ROOT@ @EXTRA@ rd.live.image selinux=0 ignore_loglevel intel_iommu=igfx_off log_buf_len=128M console=tty0 console=hvc0
	echo    'Loading initial ramdisk ...'
	module2  @INITRDPATH@
}
menuentry 'Start @PRODUCT@ @VERSION@' --class fedora --class gnu-linux --class gnu --class os {
	linux @KERNELPATH@ @ROOT@ @EXTRA@ rd.live.image console=tty0 console=ttyS0,115200n8
	initrd @INITRDPATH@
}
menuentry 'Test this media & start @PRODUCT@ @VERSION@ with Xen hypervisor' --class fedora --class gnu-linux --class gnu --class os --class xen {
	insmod multiboot2
	echo    'Loading Xen ...'
	multiboot2 @XENPATH@ XEN_OPTS
	echo    'Loading Linux ...'
	module2  @KERNELPATH@ @ROOT@ @EXTRA@ rd.live.image selinux=0 ignore_loglevel intel_iommu=igfx_off log_buf_len=128M console=tty0 console=hvc0 rd.live.check
	echo    'Loading initial ramdisk ...'
	module2  @INITRDPATH@
}
menuentry 'Test this media & start @PRODUCT@ @VERSION@' --class fedora --class gnu-linux --class gnu --class os {
	linux @KERNELPATH@ @ROOT@ @EXTRA@ rd.live.image rd.live.check console=tty0 console=ttyS0,115200n8
	initrd @INITRDPATH@
}
submenu 'Troubleshooting -->' {
	menuentry 'Start @PRODUCT@ @VERSION@ in basic graphics mode' --class fedora --class gnu-linux --class gnu --class os {
		linux @KERNELPATH@ @ROOT@ @EXTRA@ rd.live.image nomodeset
		initrd @INITRDPATH@
	}
	menuentry 'Boot first drive' --class fedora --class gnu-linux --class gnu --class os {
		chainloader (hd0)+1
	}
	menuentry 'Boot second drive' --class fedora --class gnu-linux --class gnu --class os {
		chainloader (hd1)+1
	}
}
